{% extends "main.j2" %}
{% block content %}

<h1>Home page</h1>
<div class="homepageDescription">
    <p>SoftwareCo CyberSecurity Database. Developed by Demetrius Cross and Dawson Herrington</p>
</div>

<div>
    <form class="resetForm" id="resetForm" method="POST" action="/reset" onsubmit="return confirm('Are you sure you want to reset the database?');">
        <button type="submit" class="resetButton" id="resetButton">Reset Database</button>
    </form>
</div>

{% endblock %}