{# Citation for the following code: #}
{# Date: 5/6/25 #}
{# Adapted from Exploation _ Web Application Technology #}
{# Source URL: https://canvas.oregonstate.edu/courses/1999601/pages/exploration_web_application_technology_2?module_item_id=25352948#}

{% extends "main.j2" %}
{% block content %}

<div class = "flex-col mb-4">
<h1 class = "text-2xl lg:text-3xl font-semibold text-gray-600 mb-4">Homepage</h1>
<div class="homepageDescription">
    <p class = "text-base text-gray-500 w-2/3">
        Software Co. is a mid-sized computer software company employing around 1,000 people and
        over 1,500 devices running 32 different services. As a growing company, their need for
        adequate and scalable cybersecurity has increased. They are currently receiving 100 incident
        reports a day and are aware of around 45 known threats. A database driven application will
        ease the difficulty of managing the security needs of Software Co. and lead to better overall
        outcomes for the security team. Our Flask-based and database driven application will manage
        the data and metadata concerning the users, devices, services/software, incidents, responses,
        and known malware and exploits. Easy, fast, and managed access to this data will facilitate the
        day-to-day operations of the cybersecurity personnel at Software Co. The Users, Incidents, and
        Devices tables will allow Software Co. to track who has what device. The KnownThreat, Services,
        and Incidents Tables will allow Software Co. to manage vulnerabilities in their system while they
        contain to expand, allowing them to manage data on their projected growth to 3,000
        employees on 4,000 devices in the new system.
    </p>
    <span class="text-gray-500 text-xs"> Created by: Demetius Cross and Dawson Herrington</span>
</div>

<div>
    <form class="resetForm" id="resetForm" method="POST" action="/reset" onsubmit="return confirm('Are you sure you want to reset the database?');">
        <button type="submit" class="resetButton" id="resetButton">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
            </svg>
        Reset Database</button>
    </form>
</div>
<footer class="footer">
    <p class="text-gray-500 text-sm">© 2023 Software Co. All rights reserved.</p>
</footer>
</div>

{% endblock %}