{% extends "main.j2" %}
{% block content %}

<h1>Home page</h1>
<div class="homepageDescription">
    <p>SoftwareCo CyberSecurity Database. Developed by Demetrius Cross and Dawson Herrington</p>
</div>

{% endblock %}