{# Citation for the following function: #}
{# Date: 5/6/25 #}
{# Adapted from Exploation _ Web Application Technology #}
{# Source URL: https://canvas.oregonstate.edu/courses/1999601/pages/exploration_web_application_technology_2?module_item_id=25352948#}



{% extends "main.j2" %}
{% block content %}

<h1>Incident Devices</h1>
{# CREATE form #}
<h2>Create an IncidentDevice Intersection</h2>
<form class="cuForm" id="create_incident_form" method="POST" action="/IncidentDevices/create">

    <label for="create_incidentID">Incident ID: </label>
    <select name="create_incident_id" id="create_incident_id" required>
        <option value="" disabled selected>Select an Incident</option>
        {% for incident in incidents %}
        <option value="{{incident['incidentID']}}" required>
            {{incident['incidentID']}}
        </option>
        {% endfor %}
    </select>


    <label for="create_deviceID">Device ID: </label>
    <select name="create_device_id" id="create_device_id" required>
        <option value="" disabled selected>Select an Incident</option>
        {% for device in devices %}
        <option value="{{device['deviceID']}}" required>
            {{device['deviceID']}} - {{device['deviceName']}}
        </option>
        {% endfor %}
    </select>


    <input type="submit">
</form>

{# UPDATE form #}
<h2>Update an IncidentDevice Intersection</h2>
<form class="cuForm" id="update_incident_form" method="POST" action="/IncidentDevices/update">

    <label for="update_incidentDevicesID">Incident Devices ID: </label>
    <select name="update_incidentDevices_id" id="update_incidentDevices_id" required>
        <option value="" disabled selected>Select an IncidentDevice</option>
        {% for incidentDevice in incidentDevices %}
        <option value="{{incidentDevice['Incident Devices ID']}}" required>
            {{incidentDevice['Incident Devices ID']}}
        </option>
        {% endfor %}
    </select>

    <label for="update_incidentID">Incident ID: </label>
    <select name="update_incident_id" id="update_incident_id" required>
        <option value="" disabled selected>Select an Incident</option>
        {% for incident in incidents %}
        <option value="{{incident['incidentID']}}" required>
            {{incident['incidentID']}}
        </option>
        {% endfor %}
    </select>


    <label for="update_deviceID">Device ID: </label>
    <select name="update_device_id" id="update_device_id" required>
        <option value="" disabled selected>Select an Incident</option>
        {% for device in devices %}
        <option value="{{device['deviceID']}}" required>
            {{device['deviceID']}} - {{device['deviceName']}}
        </option>
        {% endfor %}
    </select>


    <input type="submit">
</form>

{# Citation for the following code: #}
{# Date: 6/2/25 #}
{# Copied from /OR/ Adapted from /OR/ Based on #}
{# Copilot helped me solve a hunch, details below. #}
{# Source URL: www.m365.cloud.microsoft #}
{# If AI tools were used: #}
{# I realized that an empty list would result in an index error but was unsure on how to fix it/embed the proper logic. #}
{# Prompt: When keying into a list as seen in code: ***Removed for brevity, see below*, how can I use a conditional #}
{# To handle a potentially empty data set. After some refinements we arrived at the solution you see below, which is only #}
{# slighty modified from the original code #}

{# READ table #}
<table>
    <thead>
        <tr>
            {% if incidentDevices|length > 0 %}
                {% for key in incidentDevices[0].keys() %}
                    <th>{{ key }}</th>
                {% endfor %}
                <th></th>
            {% else %}
                <th>No data available</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% if incidentDevices|length > 0 %}
            {% for incidentDevice in incidentDevices %}
            <tr>
                <td>{{ incidentDevice['Incident Devices ID'] }}</td>
                <td>{{ incidentDevice['Incident ID'] }}</td>
                <td>{{ incidentDevice['Device ID'] }}</td>
                <td>
                    <form id="delete_incidentDevice_form" method="POST" action="/IncidentDevices/delete" style="display:inline;">
                        <input type="hidden" name="delete_incidentDevice_id" value="{{ incidentDevice['Incident Devices ID'] }}">
                        <input type="hidden" name="delete_incident_id" value="{{ incidentDevice['Incident ID'] }}">
                        <input type="hidden" name="delete_device_id" value="{{ incidentDevice['Device ID'] }}">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4">No incident devices found.</td>
            </tr>
        {% endif %}
    </tbody>
</table>



{% endblock %}