{# Citation for the following function: #}
{# Date: 5/6/25 #}
{# Adapted from Exploation _ Web Application Technology #}
{# Source URL: https://canvas.oregonstate.edu/courses/1999601/pages/exploration_web_application_technology_2?module_item_id=25352948#}



{% extends "main.j2" %}
{% block content %}

<h1>Incident Devices</h1>

{# READ table #}
<table>
    <thead>
        {# For the table header row, we print the DB attribute names #}
        <tr>
            {% for key in incidentDevices[0].keys() %}
            <th>{{ key }}</th>
            {% endfor %}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for incidentDevice in incidentDevices %}
        <tr>
            <td>{{ incidentDevice['Incident Devices ID'] }}</td>
            <td>{{ incidentDevice['Incident ID'] }}</td>
            <td>{{ incidentDevice['Device ID'] }}</td>

            

            {# DELETE form #}
            <form id="delete_incidentDevice_form" method="POST" action="/IncidentDevices/delete">
                <input type="hidden" name="delete_incidentDevice_id" value="{{ incidentDevice['Incident Devices ID'] }}">
                <input type="hidden" name="delete_incident_id" value="{{ incidentDevice['Incident ID'] }}">
                <input type="hidden" name="delete_device_id" value="{{ incidentDevice['Device ID'] }}">
                <td>
                    <button type="submit">
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {% endfor %}
    </tbody>
</table>

{# CREATE form #}
<h2>Create an IncidentDevice Intersection</h2>
<form class="cuForm" id="create_incident_form" method="POST" action="/IncidentDevices/create">

    <label for="create_incidentID">Incident ID: </label>
    <select name="create_incident_id" id="create_incident_id" required>
        <option value="" disabled selected>Select an Incident</option>
        {% for incident in incidents %}
        <option value="{{incident['incidentID']}}" required>
            {{incident['incidentID']}}
        </option>
        {% endfor %}
    </select>


    <label for="create_deviceID">Device ID: </label>
    <select name="create_device_id" id="create_device_id" required>
        <option value="" disabled selected>Select an Incident</option>
        {% for device in devices %}
        <option value="{{device['deviceID']}}" required>
            {{device['deviceID']}} - {{device['deviceName']}}
        </option>
        {% endfor %}
    </select>


    <input type="submit">
</form>

{# UPDATE form #}
<h2>Update an IncidentDevice Intersection</h2>
<form class="cuForm" id="update_incident_form" method="POST" action="/IncidentDevices/update">

    <label for="update_incidentDevicesID">Incident Devices ID: </label>
    <select name="update_incidentDevices_id" id="update_incidentDevices_id" required>
        <option value="" disabled selected>Select an IncidentDevice</option>
        {% for incidentDevice in incidentDevices %}
        <option value="{{incidentDevice['Incident Devices ID']}}" required>
            {{incidentDevice['Incident Devices ID']}}
        </option>
        {% endfor %}
    </select>

    <label for="update_incidentID">Incident ID: </label>
    <select name="update_incident_id" id="update_incident_id" required>
        <option value="" disabled selected>Select an Incident</option>
        {% for incident in incidents %}
        <option value="{{incident['incidentID']}}" required>
            {{incident['incidentID']}}
        </option>
        {% endfor %}
    </select>


    <label for="update_deviceID">Device ID: </label>
    <select name="update_device_id" id="update_device_id" required>
        <option value="" disabled selected>Select an Incident</option>
        {% for device in devices %}
        <option value="{{device['deviceID']}}" required>
            {{device['deviceID']}} - {{device['deviceName']}}
        </option>
        {% endfor %}
    </select>


    <input type="submit">
</form>

{% endblock %}