{# Citation for the following function: #}
{# Date: 5/6/25 #}
{# Adapted from Exploation _ Web Application Technology #}
{# Source URL: https://canvas.oregonstate.edu/courses/1999601/pages/exploration_web_application_technology_2?module_item_id=25352948#}



{% extends "main.j2" %}
{% block content %}

<h1>Responses</h1>

{# READ table #}
<table>
    <thead>
        {# For the table header row, we print the DB attribute names #}
        <tr>
            {% for key in responses[0].keys() %}
            <th>{{ key }}</th>
            {% endfor %}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for response in responses %}
        <tr>
            <td>{{ response['responseID'] }}</td>
            <td>{{ response['incidentID'] }}</td>
            <td>{{ response['userID'] }}</td>
            <td>{{ response['timeStarted'] }}</td>
            <td>{{ response['timeEnded'] }}</td>
            <td>{{ response['actionPerformed'] }}</td>
            <td>{{ response['status'] }}</td>

            

            {# DELETE form #}
            <form id="delete_incident_form">
                <input type="hidden" name="delete_incident_id" value="{{ response['responseID'] }}">
                <td>
                    <button type="submit">
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {% endfor %}
    </tbody>
</table>

{# CREATE form #}
<h2>Create a Response</h2>
<form class="cuForm" id="create_response_form">
    
    <label for="create_response_timeStarted">Time Started: </label>
    <input type="datetime-local" name="create_response_timeStarted" id="create_response_timeStarted" required>

    <label for="create_response_timeEnded">Time Ended: </label>
    <input type="datetime-local" name="create_response_timeEnded" id="create_response_timeEnded" required>

    <label for="create_response_actionPerformed">Action Performed: </label>
    <input type="text" name="create_response_actionPerformed" id="create_response_actionPerformed" required>

    <label for="create_response_status">Status: </label>
    <select name="create_response_status" id="create_response_status" required>
        <option value="Not Started">Not Started</option>
        <option value="In Progress">In Progress</option>
        <option value="Completed">Completed</option>
    </select>

    <input type="submit">
</form>

{# UPDATE form #}
<h2>Update a Response</h2>
<form class="cuForm" id="update_incident_form">
    <label for="update_responseID">Response to Update: </label>
    <select name="update_responseID" id="update_responseID" required>
        <option value="" disabled selected>Select a Response</option>
        {% for response in responses %}
        <option value="{{response['responseID']}}">
            {{response['responseID']}}
        </option>
        {% endfor %}
    </select>

    <label for="update_timeStarted">Time Started: </label>
    <input type="datetime-local" name="update_timeStarted" id="update_timeStarted" required>

    <label for="update_timeEnded">Time Ended: </label>
    <input type="datetime-local" name="update_timeEnded" id="update_timeEnded" required>

    <label for="update_actionPerformed">Action Performed: </label>
    <input type="text" name="update_actionPerformed" id="update_actionPerformed" required>

    <label for="update_status">Status: </label>
    <select name="update_status" id="update_status" required>
        <option value="" disabled selected>Select a Status</option>
        <option value="Not Started">Not Started</option>
        <option value="In Progress">In Progress</option>
        <option value="Completed">Completed</option>
    </select>

    <input type="submit">
</form>

{% endblock %}